.quiz_title {
  font: normal normal bold 40px Archivo;
  color: #101011
}

.quiz_subtitle {
  font: normal normal normal 20px Archivo;
  color: #101011
}

.getting_started_title {
  font: normal normal normal 30px Archivo;
  color: #101011
}

.getting_started_subtitle {
  font: normal normal normal 20px Archivo;
  color: #101011
}