.quiz_history_title {
  font: normal normal bold 40px Archivo;
  color: #101011
}

.quiz_history_subtitle {
  font: normal normal normal 20px Archivo;
  color: #101011
}

.table_header {
  font: normal normal bold 14px Archivo;
  color: #101011
}