.main {
    background: #e46d20;
    padding: 25px 20px;
}

.notification {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.message {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}

.title {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.email-input {
    width: 100%;
    margin-right: 15px;
    border-radius: 5px;
    padding: 8px 15px;
    border: 1px solid #2d2d2e;
    color: #2d2d2e;
    text-decoration: none;
    letter-spacing: normal;
    display: block;
}

.message-div {
    margin: 0 15px 0 10px;
}