.content {
    margin-left: 2rem;
    text-align : left;
    font-style : normal normal bold 40px/42px Archivo;
    color      : #101011;
}

.title {
    opacity: 1;
}

.circletext {
    color      : #FFFFFF;
    font-weight: 1000;
    text-align : center;
}

.title {
    text-align    : left;
    font          : normal normal bold 40px/42px Archivo;
    letter-spacing: 0px;
    color         : #101011;
    margin-bottom : 0.3rem;
    opacity       : 1;
}

.subtitle {
    text-align    : left;
    font          : normal normal normal 20px/24px Archivo;
    letter-spacing: 0px;
}

.circlearea {
    width: 96px;
        height: 96px;
        background: #0F66CC 0% 0% no-repeat padding-box;
        box-shadow: inset 0px 1px 1px;
        opacity: 1;
        border-radius: 48px;
}   